body {
  background-color: #36393f;
  color: #ffffff;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.bg-steel {
  background-color: #7289da;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #b9bbbe;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background-color: #2f3136;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #202225;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #ffffff;
}

a.article-title:hover {
  color: #7289da;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #202225;
}

.article-metadata a:hover {
  color: #ffffff;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

footer {
  background-color: #262626;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #007bff;
}

.footer p {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  max-width: 30px;
  height: auto;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px; /* Adjust the size as needed */
  height: 220px; /* Adjust the size as needed */
  border-radius: 50%;
  background-color: white;
}

.profile-image img {
  border-radius: 50%;
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
}
