{% extends "layout.html" %}

{% block content %}
    <div class="block">
        <div class="profile-image">
            <img src="https://media.licdn.com/dms/image/D4E03AQF-W2gHL4wUYA/profile-displayphoto-shrink_400_400/0/1686424944839?e=1694044800&v=beta&t=cTWziyqfP2KnW3tDDUpC2881gddBCa9oDfer88EL_JQ" alt="Profile Image">
        </div>
    </div>
    <div class="block">
        <h1>Hi! </h1>
    </div>

    <div class="block">
        <b><h2>I'm, Anoop Johny, I am from 🇮🇳</h2></b>
    </div>
    <div class="block">
    <h3>About me 🍎</h3>
    </div>
    <div class="info-section">
        <h2>Career Objective 👨‍💻</h2>
        <p>
            Highly motivated Bioinformatics Bachelor's graduate with first-class honors from the prestigious Saurashtra University, currently enrolled in the 2nd semester of a Life Science Informatics Masters program. I'd like to use my extensive skill set to help you overcome your upcoming challenges. I previously worked as a student assistant from my bachelor's HOD in pursuit of goals that unquestionably required extensive use of software as required for this position. I hope I would be considered for this task. Among several of my achievements include, successfully obtaining 2 ECTs after completion of Elements of AI course conducted by the University of Helsinki.
        </p>
        <p>Thanking you</p>
        <p>Kindest regards</p>
    </div>

    <div class="info-section">
        <h2>Academic Qualification 🎓</h2>
        <ul>
            <li>Pursuing Master of Science in Life Science Informatics Semester 4.</li>
            <li>Completed B.Sc Bioinformatics in 1st class with distinction in May 2021. Degree conferred on the 1st day of the month of February 2022.</li>
            <li>Completed 12th standard education at Bal Bharati Public School, NTPC Jhanor Gandhar, Urja Nagar, Bharuch Gujarat (CBSE Board) with 90.4%.</li>
            <li>Completed 10th standard education at Queen of Angels Convent Higher Secondary School ICSE board, Vadadla, Bharuch, Gujarat 392015 (ICSE Board) with 80.83%.</li>
        </ul>
    </div>

    <div class="info-section">
        <h2>Technical Skills 🔥</h2>
        <div class="skill-category">
            <h3>Programming Skills 💻 🖥️ 🖱️</h3>
            <ul>
                <li>Python programming language (Part of curriculum and Add-on course)</li>
                <li>Java Programming language (Part of curriculum)</li>
                <li>C programming language (Part of curriculum)</li>
                <li>Algorithms in Bioinformatics (Part of curriculum)</li>
                <li>Machine learning and Data science (Add-on course)</li>
                <li>PHP, JavaScript, and MySQL (Part of curriculum)</li>
                <li>R language (Part of curriculum and Add-on course)</li>
            </ul>
        </div>
        <div class="skill-category">
            <h3>Bioinformatics Toolset Skills ⚙️ 🛠️</h3>
            <ul>
                <li>Abinitio Protein Modelling (Part of curriculum)</li>
                <li>Protein Structure assessment (Part of curriculum)</li>
                <li>Protein-Protein Docking (Part of curriculum)</li>
                <li>3D QSAR and Pharmacophore mapping (Part of curriculum)</li>
                <li>Reverse Docking (Part of curriculum)</li>
                <li>Sequence alignment and phylogeny studies (Part of curriculum)</li>
            </ul>
        </div>
        <div class="skill-category">
            <h3>Wet Lab Experience 🥼 🧪 🧫</h3>
            <ul>
                <li>Assay activities of Amylase, Acid phosphatase, and Invertase (Part of curriculum)</li>
                <li>Gram-positive, negative spore staining (Part of curriculum)</li>
                <li>Growth and cultivation of bacteria (Part of curriculum)</li>
                <li>Protein and carbohydrate estimation (Part of curriculum)</li>
                <li>Widal test and ELISA tests (antibody conc. studies) (Part of curriculum)</li>
            </ul>
        </div>
        <div class="skill-category">
            <h3>Operating System 🌌</h3>
            <ul>
                <li>Windows</li>
                <li>Ubuntu</li>
            </ul>
        </div>
        <div class="skill-category">
            <h3>Docking Software</h3>
            <ul>
                <li>Schrodinger Docking software</li>
                <li>Molegro Virtual Docker software</li>
                <li>VLife Sciences (Pharmacophore and QSAR)</li>
            </ul>
        </div>
    </div>

    <div class="info-section">
        <h2>Scholarly Achievements 📚🎒</h2>
        <ul>
            <li>NPTEL Functional genomics 4-week certification course from IIT Kanpur, securing 70%.</li>
            <li>University of Helsinki online MOOC course in Artificial intelligence certification awarding 2 ECTS credits.</li>
            <li>NEILT Data science and machine learning 6-week course with A grade certification.</li>
            <li>Kaggle Python Course certification.</li>
            <li>University of Ahmedabad conducted Gujarat Science Academy: Annual Minakshi Lalit state-level bioinformatics exam 2nd position 2018-2019.</li>
            <li>University of Ahmedabad conducted Gujarat Science Academy: Annual Minakshi Lalit state-level bioinformatics exam 2nd position 2019-2020.</li>
            <li>Schrodinger Drug Discovery course 12/8/2019.</li>
        </ul>
    </div>

    <div class="info-section">
        <h2>Other Achievements 🏆</h2>
        <ul>
            <li>1st in Review Article Presentation 10th April 2019 organized by Dept. of Bioinformatics.</li>
            <li>1st in Poster presentation 4th October 2018 organized by Dept. of Zoology (Nature’s club).</li>
        </ul>
    </div>

    <div class="info-section">
        <h2>Publications ✍️📖📒</h2>
        <ul>
            <li>Review article: AI in Healthcare; publication in Proceedings of International Science Symposium on Recent Trends in Science and Technology (8-9th April, 2021), Organized by Christ College, Rajkot & Sponsored by GUJCOST & GSBTM, Gandhinagar.</li>
            <li>Dissertation completed. Topic: Kabasura Kudineer and Thondasura kudineer siddha medicine effects on SARs-nCov-2. Pending publication.</li>
        </ul>
    </div>

    <div class="info-section">
        <h2>Research Project 👨‍🔬</h2>
        <p>
            My Bachelor's program included research dissertation work involving Kabasura Kudineer and Thondasura kudineer siddha medicine effects on SARs-nCov-2 through computational drug discovery studies, including docking studies with approved drugs, small molecules, and other natural products.
        </p>
    </div>

    <div class="info-section">
        <h2>Symposium Presented and Attended 🗣️💬</h2>
        <ul>
            <li>Science excellence-2018 state level paper presentation: Bioinformatics 20th September 2018.</li>
            <li>Chrizellenz (S4) Elocution debate and Essay writing; intercollege cultural euphoria by Christ Institute of Management.</li>
            <li>Gujarat State sponsored GSBTM 11th national Science Symposium on "Recent trends in Science and Technology" oral presentation: Regeneration medicine.</li>
            <li>Gujarat State sponsored GSBTM 11th national Science Symposium on "Recent trends in Science and Technology" poster presentation: Synthetic Biology.</li>
            <li>Gujarat State sponsored GSBTM 12th national Science Symposium on "Recent trends in Science and Technology" oral presentation: CRISPR-Based processing unit.</li>
        </ul>
    </div>

    <div class="info-section">
        <h2>Workshops and Symposiums Attended 🧑‍💼💪</h2>
        <ul>
            <li>"Need for IPR in student Innovation and entrepreneurship" 10th August 2019.</li>
            <li>UGC-CAS Dept. of Biosciences "National conference on New Horizons of Biological Sciences".</li>
        </ul>
    </div>

    <div class="info-section">
        <h2>Theory of Interest ❤️</h2>
        <ul>
            <li>Applied Bioinformatics.</li>
            <li>Data science application based studies.</li>
            <li>Computer Aided Drug Discovery and computational Biology.</li>
            <li>Artificial Intelligence and machine learning.</li>
        </ul>
    </div>

    <div class="info-section">
        <h2>Contact ☎️📇🌟</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/anoop-johny-30a746181/">LinkedIn</a></li>
            <li><a href="https://github.com/flyfir248">GitHub</a></li>
            <li><a href="https://pythonpythonme.netlify.app/index.html">Website</a></li>
            <li><a href="https://medium.com/@anoopjohny2000">Medium</a></li>
            <li><a href="https://www.kooapp.com/profile/anoop2DEVLJ">The Koo App</a></li>
            <li><a href="https://www.kaggle.com/anoopjohny">Kaggle</a></li>
        </ul>
    </div>
{% endblock content %}
